@model Laboratorium_3___App_ns.Models.Photo

<h2>Photo Details</h2>

<div>
    <h4>Date Taken:</h4>
    <p>@Model.DateTaken.ToString("yyyy-MM-dd HH:mm")</p>
    <h4>Description:</h4>
    <p>@Model.Description</p>
    <h4>Author:</h4>
    <p>@Model.Author</p>
    <h4>Camera:</h4>
    <p>Camera</p>
    <h4>Resolution:</h4>
    <p>Resolution</p>
    <h4>Format:</h4>
    <p>@Model.Format</p>


</div>

<a asp-action="Index">Back to List</a>
